@import url('https://fonts.googleapis.com/css?family=Anton|Slabo+27px&display=swap');

.container p{
    font-family: 'Slabo 27px', serif;
    color: whitesmoke;
    font-size: 30px;
}

.container h1 {
    font-family: 'Anton', sans-serif;
    color: whitesmoke;
    font-size: 65px;
}
.navbar {
    background-color: rgb(228, 168, 4);
}
.navbar-brand {
    color: rgb(245, 245, 245);
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
}

a{
    font-family: 'Slabo 27px', serif;
}
.collapse button {
    color: white;
    border-color: white;
    font-family: 'Slabo 27px', serif;
}
.jumbotron {
    background-size: cover;
    background-position: center;
    background-image: url("jumbo_all3.jpg");

}



.btn-outline-light {
    color: rgb(194, 142, 0);
    background-color: rgb(228, 168, 4);
}
img {
    width: 100%;
}
h5 {
    font-family: 'Anton', sans-serif;
    color: rgb(228, 168, 4);
    font-size: 40px;
}
.card {
    margin: 3px;
}
